@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}
.container{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.forms{
	width: 600px;
	height: 400px;
	background-color: rgba(255, 0, 0, 0.5);	
	position: relative;
	box-shadow: 1px 3px 3px 1px rgba(0,0,0.2,0.6);
}
form{
	position: absolute;
	top: 110px;
	left: 170px;
}
.title{
	display: flex;
	justify-content: space-between;
	position: relative;
	bottom: 40px;
}

.sign_in{
	font-weight: 400;
	font-size: 20px;
	color: black;
}
.sign_in:hover{
	color: white;
}
.sign_up_block{
	margin-left: 70px;
}
.sign_up{
	font-weight: 400;
	font-size: 20px;
	color: black;
}
.sign_up:hover{
	color: white;
}
.first_name{
	width: 100px;
	height: 50px;
	padding-bottom: 10px;
}
.last_name{
	width: 100px;
	height: 50px;
}
.form_button{
	padding-top: 10px;
}
.clear_button{
	border: 0.5px solid #022c2b;
  	border-radius: 13px;
  	width: 70px;
  	height: 30px;
  	background-color: white;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.submit_button{
	border: 0.5px solid #022c2b;
  	border-radius: 13px;
  	width: 70px;
  	height: 30px;
  	background-color: white;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
